<div
  style="
    text-align: center;
    margin: 6mm 0 5mm 0;
    font-family: Arial, sans-serif;
  "
>
  <div
    style="
      display: inline-block;
      color: #000000;
      padding: 3mm 12mm;
      min-width: 80mm;
    "
  >
    <div style="font-size: 14pt; font-weight: bold; line-height: 1.3">
      {{ title.report_name }}
    </div>
    <div
      style="
        font-size: 8pt;
        font-weight: normal;
        margin-top: 1mm;
        line-height: 1.2;
      "
    >
      {{ title.generated_at }}
    </div>
  </div>
</div>
